<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>About - Aviation School</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="ie6.css" />
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="section">
				<div><a href="index.html"><img src="images/logo.gif" alt="Logo" /></a></div>
				<span>aviationschool@flying.com <br /><br />+ 7958 917 9747 2481 000</span>
			</div>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li class="current"><a href="about.html">About Us</a></li>
				<li><a href="admissions.html">Admissions</a></li>
				<li><a href="trainingcourses.html">Training Courses &amp; Services</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="schoolcalendar.html">School Calendar</a></li>
				<li><a href="contactus.html">Contact us</a></li>
			</ul>
		</div>
		<div id="content">
			<div>
				<h3>About</h3>
				<div class="first">
					<a href="index.html"><img src="images/model2.jpg" alt="pilot" /></a>
					<h2>We Have Free Templates for Everyone</h2>
					<p>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the <a href="http://www.freewebsitetemplates.com/about/termsofuse/">Terms of Use</a>. You can even remove all our links if you want to.</p>
				</div>
				<div>
					<h2>We Have More Templates for You</h2>
					<p>Looking for more templates? Just browse through all our <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> and find what you're looking for. But if you don't find any website template you can use, you can try our <a href="http://www.freewebsitetemplates.com/freewebdesign/">Free Web Design</a> service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
				</div>
				<div>
					<h2>Be Part of Our Community</h2>
					<p>If you're experiencing issues and concerns about this website template, join the discussion <a href="http://www.freewebsitetemplates.com/forum/">on our forum</a> and meet other people in the community who share the same interests with you.</p>
				</div>
				<div>
					<h2>Template details</h2>
					<p>Version 4</p>
					<p>Website Template details, discussion and updates for this <a href="http://www.freewebsitetemplates.com/forum/f18/aviation-school-web-template-18524">Aviation School template</a>. Website Template design by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a>. Please feel free to remove some or all the text and links of this page and replace it with your own About content.</p>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<div id="connect">
					<a href="http://facebook.com/freewebsitetemplates" target="_blank"><img src="images/icon-facebook.gif" alt="Facebook" /></a>
					<a href="http://twitter.com/fwtemplates" target="_blank"><img src="images/icon-twitter.gif" alt="Twitter" /></a>
					<a href="http://www.youtube.com/fwtemplates" target="_blank"><img src="images/icon-youtube.gif" alt="Youtube" /></a>
				</div>
				<div class="section">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="admissions.html">Admissions</a></li>
						<li><a href="trainingcourses.html">Training Courses</a></li>
						<li><a href="career.html">Career</a></li>
						<li class="last"><a href="contactus.html">Contact Us</a></li>
					</ul>
					<p>&copy; Copyright 0000. Company Name. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>