<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>Admissions - Aviation School</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="ie6.css" />
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="section">
				<div><a href="index.html"><img src="images/logo.gif" alt="Logo" /></a></div>
				<span>aviationschool@flying.com <br /><br />+ 7958 917 9747 2481 000</span>
			</div>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li class="current"><a href="admissions.html">Admissions</a></li>
				<li><a href="trainingcourses.html">Training Courses &amp; Services</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="schoolcalendar.html">School Calendar</a></li>
				<li><a href="contactus.html">Contact us</a></li>
			</ul>
		</div>
		<div id="content">
			<div>
				<h3>Admissions</h3>
				<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</p>
				<p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
				<div class="section">
					<div id="aside">
						<h5>This is just a place holder, so you can see what the site would look like.</h5>
						<p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>. This is just a place holder, so you can see what the site would look like.</p>
						<h5>This is just a place holder, so you can see what the site would look like.</h5>
						<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
						<h5>This is just a place holder, so you can see what the site would look like.</h5>
						<p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>. This is just a place holder, so you can see what the site would look like.</p>
						<h5>This is just a place holder, so you can see what the site would look like.</h5>
						<p>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
					</div>
					<div id="sidebar">
						<h5>This is just a place holder.</h5>
						<p>If you're having problems editing this website template, then don't hesitate to ask for help on the <a href="http://www.freewebsitetemplates.com/forum/">Forum</a>.</p>
						<h5>This is just a place holder.</h5>
						<p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.</p>
						<h5>This is just a place holder.</h5>
						<p>You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<div id="connect">
					<a href="http://facebook.com/freewebsitetemplates" target="_blank"><img src="images/icon-facebook.gif" alt="Facebook" /></a>
					<a href="http://twitter.com/fwtemplates" target="_blank"><img src="images/icon-twitter.gif" alt="Twitter" /></a>
					<a href="http://www.youtube.com/fwtemplates" target="_blank"><img src="images/icon-youtube.gif" alt="Youtube" /></a>
				</div>
				<div class="section">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="admissions.html">Admissions</a></li>
						<li><a href="trainingcourses.html">Training Courses</a></li>
						<li><a href="career.html">Career</a></li>
						<li class="last"><a href="contactus.html">Contact Us</a></li>
					</ul>
					<p>&copy; Copyright 0000. Company Name. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>