<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>Contact Us - Aviation School</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="ie6.css" />
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="section">
				<div><a href="index.html"><img src="images/logo.gif" alt="Logo" /></a></div>
				<span>aviationschool@flying.com <br /><br />+ 7958 917 9747 2481 000</span>
			</div>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="admissions.html">Admissions</a></li>
				<li><a href="trainingcourses.html">Training Courses &amp; Services</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li><a href="schoolcalendar.html">School Calendar</a></li>
				<li class="current"><a href="contactus.html">Contact us</a></li>
			</ul>
		</div>
		<div id="content">
			<div>
				<h3>Contact Us</h3>
				<p><strong>This website template has been designed by <a href="http://www.freewebsitetemplates.com/">Free Website Templates</a> for you, for free. You can replace all this text with your own text.</strong></p>
				<h5>NULLA PELLENTESQUE</h5>
				<p>Suspendisse potenti suspendisse potenti</p>
				<p>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</p>
				<p>Tel: + 7958 917 9747 2481 000</p>
				<p>Fax: + 7958 917 9747 2481 000</p>
				<p>Email: aviationschool@flying.com</p>
				
				<h5>ETIAM SEMPER JUSTO</h5>
				<p>Fusce fermentum dignissim tellus</p>
				<p>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</p>
				<p>Tel: + 7958 917 9747 2481 000</p>
				<p>Fax: + 7958 917 9747 2481 000</p>
				<p>Email: aviationschool@flying.com</p>
				
				<h5>CONSECTETUR JUSTO ET EST TINCIDUNT</h5>
				<p>Fusce fermentum dignissim tellus</p>
				<p>1234 Proin sodales, felis at interdum porta 321 Consectetur, XY 12345</p>
				<p>Tel: + 7958 917 9747 2481 000</p>
				<p>Fax: + 7958 917 9747 2481 000</p>
				<p>Email: aviationschool@flying.com</p>
			</div>
		</div>
		<div id="footer">
			<div>
				<div id="connect">
					<a href="http://facebook.com/freewebsitetemplates" target="_blank"><img src="images/icon-facebook.gif" alt="Facebook" /></a>
					<a href="http://twitter.com/fwtemplates" target="_blank"><img src="images/icon-twitter.gif" alt="Twitter" /></a>
					<a href="http://www.youtube.com/fwtemplates" target="_blank"><img src="images/icon-youtube.gif" alt="Youtube" /></a>
				</div>
				<div class="section">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="admissions.html">Admissions</a></li>
						<li><a href="trainingcourses.html">Training Courses</a></li>
						<li><a href="career.html">Career</a></li>
						<li class="last"><a href="contactus.html">Contact Us</a></li>
					</ul>
					<p>&copy; Copyright 0000. Company Name. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>