<!DOCTYPE html>
<!-- Template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8" />
	<title>School Calendar - Aviation School</title>
	<link rel="stylesheet" type="text/css" href="style.css" />
	<!--[if IE 6]>
		<link rel="stylesheet" type="text/css" href="ie6.css" />
	<![endif]-->
</head>
<body>
	<div id="page">
		<div id="header">
			<div id="section">
				<div><a href="index.html"><img src="images/logo.gif" alt="Logo" /></a></div>
				<span>aviationschool@flying.com <br /><br />+ 7958 917 9747 2481 000</span>
			</div>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a></li>
				<li><a href="admissions.html">Admissions</a></li>
				<li><a href="trainingcourses.html">Training Courses &amp; Services</a></li>
				<li><a href="blog.html">Blog</a></li>
				<li class="current"><a href="schoolcalendar.html">School Calendar</a></li>
				<li><a href="contactus.html">Contact us</a></li>
			</ul>
		</div>
		<div id="content">
			<div>
				<h3>School Calendar - 2012</h3>
				<div class="calendar">
					<dl>
						<dt>JANUARY</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>FEBRUARY</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>MARCH</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>APRIL</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>MAY</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>JUNE</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>JULY</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>AUGUST</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>SEPTEMBER</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>OCTOBER</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>NOVEMBER</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
					<dl>
						<dt>DECEMBER</dt>
						<dd>Suspendisse nulla - Sat, 5</dd>
						<dd>Lorem  tincidunt  - Mon, 8</dd>
						<dd>Malesuada sit amet  - Mon, 21</dd>
						<dd>varius non magna   - Wed, 27</dd>
						<dd>Felis et ante viverra - Thur, 28</dd>
					</dl>
				</div>
			</div>
		</div>
		<div id="footer">
			<div>
				<div id="connect">
					<a href="http://facebook.com/freewebsitetemplates" target="_blank"><img src="images/icon-facebook.gif" alt="Facebook" /></a>
					<a href="http://twitter.com/fwtemplates" target="_blank"><img src="images/icon-twitter.gif" alt="Twitter" /></a>
					<a href="http://www.youtube.com/fwtemplates" target="_blank"><img src="images/icon-youtube.gif" alt="Youtube" /></a>
				</div>
				<div class="section">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="admissions.html">Admissions</a></li>
						<li><a href="trainingcourses.html">Training Courses</a></li>
						<li><a href="career.html">Career</a></li>
						<li class="last"><a href="contactus.html">Contact Us</a></li>
					</ul>
					<p>&copy; Copyright 0000. Company Name. All Rights Reserved.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>