.service_block{
	display: inline-block;
	background: rgba(195,216,37,0.5);
	border-radius: 0.5em;
	padding: 15px;
	width: 100%;
}

.service_block img{
	height: auto;
	width: 80%;
	position: relative;
	border: 3px solid #fff;
	overflow: hidden;
	vertical-align: middle;
	margin-right: 15px;
}

.service_block h4{
	float: left;
	position: relative;
}

.service_block p{
	overflow: hidden;
	width: 100%;
}