<div class="container" id="footer">
	<div>
		<div id="connect">
		<!--<a href="http://facebook.com/freewebsitetemplates" target="_blank"><img src="http://cmdm.tw/images/icon-facebook.gif" alt="Facebook" /></a>
		<a href="http://twitter.com/fwtemplates" target="_blank"><img src="http://cmdm.tw/images/icon-twitter.gif" alt="Twitter" /></a>
		<a href="http://www.youtube.com/fwtemplates" target="_blank"><img src="http://cmdm.tw/images/icon-youtube.gif" alt="Youtube" /></a>-->
		</div>
		<div class="section">
			<ul>
		    	<li><a href="/">Home</a></li>
		    	<li><a href="/">About</a></li>
		    	<li><a href="/">Research</a></li>
		    	<li><a href="/">Honor</a></li>
		    	<li><a href="/">Professional Activities</a></li>
		    	<li><a href="/">Members</a></li>
		    	<li><a href="/">Courses</a></li>
		    	<li class=last ><a href="/">Services</a></li>
			</ul>
			<p>No. 1 Roosevelt Rd. Sec. 4, Taipei, Taiwan 106, ROC &nbsp; +886-2-33664888#403
			<br>Copyright &copy; 2006-2016 Computational Molecular Design &amp; Metabolomics Laboratory. All Rights Reserved.</p>
		</div>
	</div>
</div>