<footer class="footer">
	<div class="container">
		<div style="font-family:Times New Roman,DFKai-sb;" class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<p class="text-muted" id="footer">
	<!-- 			<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">About</a></li>
					<li><a href="/">Research</a></li>
					<li><a href="/">Honor</a></li>
					<li><a href="/">Professional Activities</a></li>
					<li><a href="/">Members</a></li>
					<li><a href="/">Courses</a></li>
					<li class=last ><a href="/">Services</a></li>
				</ul> -->
				10617 台北市羅斯福路四段一號德田館403室  &nbsp; +886-2-33664888#403<br>
				本網站著作權屬於國立臺灣大學計算分子設計與代謝體實驗室&copy; 2006-2017
			</p>
		</div>
	</div>
</footer>
