<footer class="footer">
	<div class="container">
		<div class="col-xs-12 col-sm-12 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
			<p class="text-muted" id="footer">
	<!-- 			<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/">About</a></li>
					<li><a href="/">Research</a></li>
					<li><a href="/">Honor</a></li>
					<li><a href="/">Professional Activities</a></li>
					<li><a href="/">Members</a></li>
					<li><a href="/">Courses</a></li>
					<li class=last ><a href="/">Services</a></li>
				</ul> -->
				No. 1 Roosevelt Rd. Sec. 4, Taipei, Taiwan 106, ROC &nbsp; +886-2-33664888#403<br>
				Copyright &copy; 2006-2017 Computational Molecular Design &amp; Metabolomics Laboratory. All Rights Reserved.
			</p>
		</div>
	</div>
</footer>
