<footer class="footer">
	<div class="container">
		<p class="text-muted">
<!-- 			<ul>
		    	<li><a href="/">首頁</a></li>
		    	<li><a href="/">關於</a></li>
		    	<li><a href="/">研究</a></li>
		    	<li><a href="/">榮譽</a></li>
				<li><a href="/">專業活動</a></li>
		    	<li><a href="/">成員</a></li>
		    	<li><a href="/">課程</a></li>
		    	<li class=last ><a href="/">服務</a></li>
			</ul> -->
			No. 1 Roosevelt Rd. Sec. 4, Taipei, Taiwan 106, ROC &nbsp; +886-2-33664888#403<br>
			Copyright &copy; 2006-2016 Computational Molecular Design &amp; Metabolomics Laboratory. All Rights Reserved.
	</div>
</footer>
