<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMDM Lab</title>

    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <script src="../js/nav_bar.js"></script>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header" id="logo-div">
                <button type="button" id="toggle-button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="../img/banner.png" class="navbar-brand" id="logo"/>
                <!-- <p id="title-p"><strong>Computational Molecular Design & Metabolomics Lab</strong></p> -->
            </div>
            <!-- <nav class="navbar navbar-inverse" role="navigation" id="menu-nav"> -->
        
            <div style="font-family:DFKai-sb;" class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="../index_zh.html">首頁</a></li>
                    <li><a href="../about_zh.html">關於實驗室</a></li>
                    <li><a href="../research_zh.html">研究內容</a></li>
                    <li><a href="../honor_zh.html">榮譽事蹟</a></li>
                    <li><a href="../member_zh.html">成員</a></li>
                    <li><a href="../course_zh.html">課程</a></li>
                    <li><a href="../service_zh.html">軟體服務</a></li>
					<li class="navbar-right"><a href="#" onclick="goURL()">English</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        <!-- /.container -->
        </div>
    </nav>
    

    <!-- Script to Activate the Carousel -->
    
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
