input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.no-results,
.not-found {
	.search-form {
		position: relative;
		border-radius: 4px;
		overflow: hidden;
		max-width: 720px;
	}
	.search-field {
		height: 40px;
		width: 100%;
		max-width: 100%;
		padding: 0 5%;
		border: none;
		border-radius: 0;
		box-sizing: border-box;
	}
	.search-submit {
		position: absolute;
		top: 0;
		right: 0;
		height: 45px;
		width: 45px;
		border: none;
		border-radius: 0;
		background: $red;
		display: inline-block;
		&:hover,
		&:focus {
			background: $grey;
			.genericon-search {
				color: $white;
			}
		}
	}
	.genericon-search {
		font-weight: 700;
		color: $black;
		transition: all 0.125s ease-in-out;
	}
}