figure {
	padding: 0;
	margin: 0;
}
.wp-caption {
	margin-bottom: 1.6em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}
.wp-caption-text {
	line-height: 1.2;
	padding: 0.5em 0;
	font-style: italic;
	@include font-size(0.875);
}